<h1>About</h1>

<p>This app has been built in Ruby on Rails following a class on <a href="http://www.skillshare.com/classes/technology/Ruby-on-Rails-in-30-Days-Build-Your-First-Web-App/2136222497?via=my-classes">Skillshare</a></p>

<p>Follow me on <%= link_to "Twitter", "http://twitter.com/sulcalibur" %></p>
